.error
{
    visibility: hidden;
    text-align: center;
    position: absolute;
    z-index: 1;
    margin-left: 0px;
    background-color: black;
    color: white;
    border-radius: 6px;
    border: 1px solid white;
    padding: 2px 3px;
}
.error:hover
{
    cursor: pointer;
}
td
{
    text-align: center;
    padding: 10px 5px;
}