body
{
 font: 15px/1.5 Arial, Helvetica, sans-serif;
 padding: 0;
 margin: 0;
 background-color: #001e3d;
}

    /* Global */
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.dark
{
    padding: 15px;
    background: coral;
    color: #001e3d;
    margin-top: 10px;
    margin-bottom: 10px;
}

button
{
   height: 38px;
   background: coral;
   border: none;
   padding-left: 20px;
   padding-right: 20px;
   color: white; 
   border-radius: 7px;
   outline: none;
} 
button:hover{
    cursor: pointer;
}

    /* Header */
header h1
{
    text-align: center;
    margin-bottom: 10px;
}
header
{
    color: #ffffff;
    padding-top: 2px;
    min-height: 20px;
    border-bottom: coral 3px solid;
}
header .highlight, .tabs #current a
{
    color: coral;
    font-weight: bold;
}

    /* Tabs */
.tabs a
{
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
.tabs li
{
    display: inline;
    padding:  0 20px 0 20px;
}
.tabs nav
{
    justify-content: center;
    display: flex;
    flex-direction: row;
}

    /* Tab animations */
a
{
    display: inline-block;
    position: relative;
}
a::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    left: 0;
    bottom: 0;
    background-color: coral;
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
}
a:hover::before
{
    transform: scaleX(1);
    transform-origin: bottom center;
}

    /* Converter-1 */
.converter
{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.converter #box-1
{
    border: red 1px solid;
    color: #cccccc;
    font-size: 15px;
    width: 49%;
}
.converter #box-2
{
    border: red 1px solid;
    color: #cccccc;
    font-size: 15px;
    width: 49%;
}

    /* Number convert */
.converter td
{
    color: #cccccc;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    overflow-x: auto;
    border: 2px solid white;
}
input[type="number"]
{
    font-size: 20px;
}
input[type="string"]
{
    font-size:20px;
}
.error
{
    margin-left: 50px;
    text-decoration: none;
    font-size: 20px;
    width: 150px;
}
    /* 0-50 decimal */
#numberSystemOutputs td
{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
/*#numberSystemOutputs
{
    visibility: hidden;
}*/
    /* combinatorics */
.combinatorics p
{
    color: #cccccc;
    font-size: 15px;
}
    /* Truth Table */
.truthtable p
{
    color: #cccccc;
    font-size: 15px;
}
    /* Random Values */
.randomvalues p
{
    color: #cccccc;
    font-size: 15px;
}
    /* Optional Math page */
.optionalmath p
{
    color: #cccccc;
    font-size: 15px;
}
    /* About page */
 article#main-col
 {
    color: #cccccc;
    float: left;
    width: 65%;
 }

 aside#sidebar
 {
     float: right;
     width: 30%;
     margin-top: 10px;
 }
    /* Footer */
footer
{
    padding: 5px;
    margin-top: 50px;
    color: white;
    background: coral;
    text-align: center;
    color: #001e3d;
    font-size: 15px;
}


    /* Media Quaries */
@media screen and (min-width : 320px) and (max-width : 1024px)
{
    header h1,
    header .highlight, .tabs#current a,
    article#main-col,
    aside#sidebar,
    #main,
    #numberSystemOutputs,
    .converter
    {
        text-align: center;
        width: 100%;
    }
    header
    {
        padding-bottom: 20px;
    }
    .calc-1
    {
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }
    .calc-1 td
    {
        float: left;
    }
    .calc-1 tr
    {
        line-height: 20px;
    }
    .calc-1 td:nth-child(2)
    {
        clear: left;
    }
    #numberSystemOutputs
    {
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
        width: 100%;
    }
    

}