#stats 
{
    visibility: hidden;
}
.randomValues
{
    margin-left: 10%;
    color: #cccccc;
}
p
{
    color: #cccccc;
}
#statsTable
{
    border: 1px solid coral ;
}
input
{
    margin-bottom: 20px;
}
.infoMessage
{
    visibility: hidden;
}