#stats 
{
    visibility: hidden;
}
.randomValues
{
    color: #cccccc;
}
p
{
    color: #cccccc;
}
#statsTable
{
    border: 1px solid lightgray ;
    display: block;
}
input
{
    margin-bottom: 20px;
}
.infoMessage
{
    visibility: hidden;
}
#hideNumbers
{
    visibility: hidden;
}
.red::placeholder{
    color: red;
}
#numbersGenerated 
{
    display: none;
}
.randomValues span{
    font-size: 15px;
}